 
  body{
      background-image: url("../img/Spacejam.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
  }
  
  /* Position the navbar container inside the image */
  .container {
    position: absolute;
    margin: 20px;
    width: auto;
  }
  
  /* The navbar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    color:darkmagenta;
    text-align: center;
    padding: 40px 50px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Bebas Neue', cursive;
    border-radius: 5px;
    border-style: outset;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }