<%- include ("./templates/_header") %>

<h1 id="titulos" >Bienvenido a About us</h1>
<h2 id="titulos"> Nuestro proyecto esta bien rifado y queremos un 100!</h2>
<h3 id="titulos"> Joshua Asarell Martinez Gonzalez A01703723</h3>
<h3 id="titulos">Diego Aguilar Gutierrez A01652642</h3>
<h3 id="titulos">Francisco Ivan Lopez Quihuis A01703167</h3>
<%- include ("./templates/_footer") %>