<%- include ("./templates/_header") %>
    <h2 id="titulos">Vende un producto</h2>

    <div class="container">
        <div class="row centered-form">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                        <h3 class="panel-title">Introduce los datos de tu producto a vender</h3>
                         </div>
                         <div class="panel-body">
                        <form role="form" action="/uploadProduct" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="text" name="name" id="name" class="form-control input-sm" placeholder="Modelo del producto (ej. Air Max 90)">
                            </div>
                            <div class="form-group">
                                <input type="text" name="size" id="size" class="form-control input-sm" placeholder="Talla (MX - cm)">
                            </div>
                            <div class="form-group">
                                <input type="text" name="price" id="price" class="form-control input-sm" placeholder="Precio (MXN)">
                            </div>
                            <div class="form-group">
                                <input type="text" name="desc" id="desc" class="form-control input-sm" placeholder="Descripción general del producto">
                            </div>
                            <div>
                                <label for="image">Imagen del producto</label>
                                <br>
                                <input type="file" id="image"
                                    name="image" value="" required>
                            </div>
                            <p> </p>
                            
                            <input type="submit" value="Publicar para Venta" class="btn btn-info btn-block">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include ("./templates/_footer") %>