<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snaker Plug</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="/css/mystyles.css" rel="stylesheet" type="text/css">

</head>

<body>
    
    <nav class="navbar navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="localhost:3000">Snaker Plug</a>
    </nav>

    <div class="container">
      <div class="topnav">
        <a href="#home">Home</a>
        <a href="#news">Register</a>
        <a href="#contact">Shop</a>
        <a href="#about">About Us</a>
    </div>
  </div>